<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<title>Recuperar</title>
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link href="css/styleL.css" rel="stylesheet">
</head>

<body>
	<div class="group">
	  	<form>
	  	<h1>ESQUECEU SUA SENHA</h1>
    		<div class="input-group">
      			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      			<input id="email" type="text" class="form-control" name="email" placeholder="Email Cadastrado">
    		</div>
    		<button type="submit" class="btn btn-default">Enviar senha para email</button>
   		</form>
   	</div>
</body>

</html>