@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
body{
	background: #3688A1;
	background-image: url('../img/bg.png');
	text-align: center;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}
.no-bg{
	background: #3688A1;

}
.imgcad{
	width:10%;
	margin-left: 0%;
}
#btnSave{
	margin-top: 5%;
	width: 35%;
	padding: 2%;
}
.btn{
	width: 70%;
	text-align: center;
	text-shadow: 2px 2px 5px black; 	
	box-shadow: 3px 3px 5px black;
}
.btn:hover{
	transition: 0.4s;
	text-shadow: 0px 0px 15px gold; 	
}
.container{
	margin-left: 22%;
	border: none;
	margin-top: 0;
	background: none;
	width: 60%;
	text-align: center;
}
.container input::placeholder{
	color: #696969 ;
}
.container input[type=radio]:focus{
	border:none;
	box-shadow: none;
}
.container input[type=text],[type=tel],[type=email],[type=date]{
	color:  black;
	float: left;
	box-shadow: 3px 3px 5px black;
	margin-bottom: 2%;
	background: #cccccc;
}
.container input[type=text]:focus,[type=tel]:focus,[type=email]:focus,[type=date]:focus{
	box-shadow: 0px 0px 5px gold ;
	background: white;
}
.Crud table{
	box-shadow: 3px 3px 5px black;
}
.Crud tr{
	height: 20px;
	background: #999;
}
.Crud th{
	background: #5576B2;
	text-align: center;
	color: white;
	font-size: 125%;
	text-shadow: 2px 2px 4px black;
}
.Crud{
	margin-top: 10%;
	margin-left: 17%;
}
.exit{
	text-align: right;
}
.exit a{
	position: relative;
	text-align: center;
	z-index: 1;
	text-shadow: 3px 3px 5px black;
	border: none;
	margin: 3%;
	margin-bottom: -5%;
	background: linear-gradient(to bottom, #11596F 0%,#3688A1 75%,#005873 100%);
	box-shadow: 0px 5px 10px black;
	font-size: 130%;
	width: 10%;
	color: #999; 
	border-radius: 20px 20px 20px 20px;
}
.exit a:hover{
	text-decoration: none;
	text-shadow: 0 0 5px gold;
	background: linear-gradient(to top, #11596F 0%,#3688A1 75%,#005873 100%);
	color: white;
	border: none;
	transition: 0.5s;
	transform: scale(1.05);
}
.exit a:focus{
	text-decoration: none;
	box-shadow: 0px 10px 20px black;
	color: #72C1FA;	
}
.exit a:active{
	text-shadow: none;
	box-shadow: none;
	text-decoration: none;
	background: #999;
	color: black;
	border: none;
}
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 17%; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, black 0%,#3688A1 46%,#243C43 100%);
	overflow: hidden; /* Disable horizontal scroll */
	padding-top: 50px; /* Place content 60px from the top */
	top: 0;
	font-size: 36px;
	margin-left: 0px;
	box-shadow: 2px 2px 2px black;
}
.sidenav a {
	padding: 5% 10%;
	text-decoration: none;
	text-shadow: 0px 5px 10px black;
	font-size: 55%;
	color: #848484;
	display: block;
	transition: 0.6s
}
.sidenav a:hover, .offcanvas a:focus{
	color: white;
	text-shadow:  0px 0px 7px gold;
	transform: scale(1.1);
	background: linear-gradient(to bottom, #243C43 0%,#3688A1 40%,#243C43 100%);	
	box-shadow: 1px 1px 5px black;
	border-radius: 50px 50px 50px 50px;
}
.sidenav a:active, .offcanvas a:active{
	color: white;
	background: #22414A;
	text-shadow:  2px 1px 2px white;
	box-shadow: inset 1px 1px 5px black;
	border-radius: 50px 50px 50px 50px;

}
.iconMenu{
	float: center;
	margin: auto;
	width: 20%;
}
.iconLogo{
	margin-top: -35px;
	width: 60%;
}
.has-feedback{
	margin-left:-2%;
	margin-top: -4%;
	width: 100%;
}
#Pesquisa{
	text-align: center;
	width: 100%;
	box-shadow: 3px 3px 10px black;
}
#Pesquisa::placeholder{
	font-size: 120%;
}
#Pesquisa:focus{
	transition: 0.6s;
	color: black;
	box-shadow: 0px 0px 2px #01DFD7;
	background: white;
}
#Home{
	width: 120%;
	margin-left: -10%;
	margin-right: 5%;
}
#Home:hover{
	transform: scale(1.2);
	background: none;
	text-shadow: none;
	box-shadow: none;
}
.IconPage {
	margin-bottom: -55px;
	position: relative;
	width: 50%;
	margin-left: 30%;
	text-align: center;
}
.IconPage p{
	color: #FF7300;
	font-size: 150%;
	text-shadow: 0px 5px 10px black;
}
.IconPage img{
	width: 20%;
	position: relative;
}
.footer a:hover{
	text-shadow: 0px 0px 15px gold;
	color: white;
	transform: scale(1.2);
}
.footer a:focus{
	border-radius: none;
}
.footer a{
	color: #848484;
}
.footer {
	width: 25%;
	margin-top: 45%;
	margin-left: 10%;
}
#linkedinIcon{
	margin-left: 0;
	margin-top: -34px;
}
#githubIcon{
	margin-left: 70px;
}
#facebookIcon{
	margin-left: 140px;
	margin-top: -34px;
}

.form p{ 
	color: white;
	font-size: 120%;
	text-align: left;
}
#Editar{
	width: 20%;
	font-size: 100%; 
}
#Excluir{
	width: 20%;
	font-size: 100%;
}
#Visualizar{
	width: 20%;
	font-size: 100%; 
}
.glyphicon{
	font-size: 130%; 
}


#search {
	float: right;
	margin-top: 9px;
	width: 250px;
}

.search {
	padding: 5px 0;
	width: 10%;
	height: 30px;
	position: relative;
	left: 10px;
	float: left;
	line-height: 22px;
}

.search input {
	position: absolute;
	background: #ccc;
	float: left;
	margin-left: -258px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	height: 30px;
	line-height: 18px;
	padding: 0 2px 0 2px;
	border-radius: 5px 5px 5px 5px ;
	box-shadow: -3px 3px 5px black;

}

.search:hover input, .search input:focus {
	text-align: center;
	margin-left: -90px;
	text-indent: 2%;
	width: 600%;
	box-shadow: -3px 3px 5px black;
	border-radius: 0px 5px 5px 0px ;
}
.search input:focus{
	background: white;
}
.btnSearch:hover,.btnSearch:focus {
	box-shadow: -3px 3px 5px black;
	text-shadow: 0px 0px 15px gold; 	

}
.btnSearch {
	box-shadow: 0 0 0;
	height: 30px;
	position: absolute;
	left: -8px;
	font-size: 100%;
	top: 5px;
}